<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Tourz.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3D2D01871DB18F6B00A550FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3D2D01A01DB18F6B00A550FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3D2D01AB1DB18F6C00A550FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
